<div class="container">

  <div  class="real-time-products">
    <h1 class="title">Products in my cart</h1>
    <div id="all-products" class="all-products"></div>
     <div id="real-time-products" class="all-products"></div>
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>

const fetchProducts = async () => {
  try {
    const response = await fetch(
      "http://localhost:8080/api/products/getProducts"
    );
    const result = await response.json();
    if (result.data) {
      // If the data is available, render it
      renderAllProducts(result.data);
    } else {
      console.error("No data received from the server");
    }
  } catch (error) {
    console.error("Error fetching data:", error);
  }
};

// Call the fetchProducts function to initiate the data fetching and rendering
// fetchProducts();

let socket = io();

socket.on("products", (data) => {
  renderRealTimeProducts(data);
});
 

const renderRealTimeProducts = (data) => {
  const html = data
    .map((elem) => {
      return `
      <div class="product-card">
      <div class="header-card">
      <h2 data-product-id="${elem._id}" onclick="redirectToProduct(this)" >${elem.title}</h2>
      <span 
      data-product-id="${elem._id}" onclick="deleteProduct(this)" class="delete-icon"><i class="trash fas fa-trash-alt"></i></span>
      </div>
        <p>${elem.description}</p>
        <p><strong>Price:</strong> $${elem.price}</p>
        <p><strong>Category:</strong> ${elem.category}</p>
      </div>
        `;
    })
    .join(" ");

  document.getElementById("real-time-products").innerHTML = html;
};

const addProduct = async (e) => {
  // Prevent the form from submitting and page reloading
  e.preventDefault();
  // Get product data from the form
  const productData = {
    title: document.getElementById("title").value,
    description: document.getElementById("description").value,
    price: parseFloat(document.getElementById("price").value),
    thumbnail: document.getElementById("thumbnail").value,
    code: document.getElementById("code").value,
    stock: parseInt(document.getElementById("stock").value),
    category: document.getElementById("category").value,
  };
  try {
    // Make a POST request to the server endpoint
   const response = await fetch(
      "http://localhost:8080/api/products/addProduct",
      {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(productData),
      }
    );
   if(response.ok){
     socket.emit("new-product", productData);
   }
  
  } catch (error) {
    console.error("Error adding product:", error);
  }

  return false;
};


// Function to redirect to product detail page
    const  redirectToProduct = (element) => {
      const id = element.dataset.productId;
        window.location.href = `/${id}`;
    }


const deleteProduct = async (element) => {
    const id = element.dataset.productId;
    try {
      const response = await fetch(`http://localhost:8080/api/products/deleteProduct/${id}`, {
        method: "DELETE",
      });
      if(response.ok){
        socket.emit("delete-product", id);
      }
    } catch (error) {
      console.error("Error deleting product:", error);
    }
  };
  
  

</script>