<div class="container">
  <div class="show-products">
    <h1 class="title">Chat</h1>
   <div id="all-products" class="all-products"></div>
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
