<div class="container">
  <div class="show-products">
    <h1 class="title">Chat</h1>
    <div id="messages" class="chat-content"></div>
   <form onsubmit="return addMessage()" >
    <input type="text" id="username" placeholder="Tu Nombre" >
    <input type="text" id="text" placeholder="Cuentanos algo..." >
    <input type="submit" value="Enviar">
  </form>
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>
  let socket = io();
socket.on('messages', (data)=>{
  renderChat(data)
})

function renderChat(data){
  const html = data.map(elem => {
        return (`
          <div>
            <strong> ${elem.user} </strong>
            <em> ${elem.content} </em>
          </div>
        `)
  }).join(' ')

  document.getElementById('messages').innerHTML = html
}

const addMessage = async (e) => {
  const message = {
    user: document.getElementById('username').value, 
    content: document.getElementById('text').value
  }
 console.log(message)
  try {
    const response = await fetch(`http://localhost:8080/api/chat/addMessage`, {
      
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(message),
      
    });
    if(response.ok){
      socket.emit('new-message', message)
    }
  } catch (error) {
    console.error("Error deleting product:", error);
  }
  return false
}
</script>
